@import "vars";
@import "mixins";

@include main;

header {
	padding: 2em 10em;
	width: 100%;
	background: url('../slike/background.jpg');
	background-size: cover;
	height: 100vh;

	nav {
		background-color: #fff;
		padding: .5em;
		width: 100%;
		@include clearfix;

		div {
			float: left;

			span {
				color: red;
			}
		}

		ul {
			float: right;
			list-style: none;

			li {
				display: inline-block;
				margin-left: 1em;

				a {
					text-decoration: none;
					color: grey;
				}
			}
		}
	}

	h1, h2 {
		color: #fff;
		font-weight: normal;
		text-align: center;
	}

	h1 {
		margin-top: 25%;
		margin-bottom: 1%;

	}
}

section.one {
	padding: 2em 10em;
	width: 100%;
	text-align: center;
	color: grey;
	background-color: $grey_background;

	h3 {
		margin-bottom: 2em;
	}

	figure {
		display: inline-block;
		width: 25%;
		margin-right: -4px;

		img {
			width: 80%;
			margin-bottom: 1em;
		}

		a {
			color: #fff;
			padding: .5em 2em;
			text-decoration: none;
			background-color: orange;
			margin-top: 1em;
			display: inline-block;
		}
	}	
}

section.two {
	padding: 2em 10em;
	text-align: center;

	h3 {
		color: grey;
		padding: 2em;
	}

	table {
		width: 80%;
		margin: 0 auto;
		border-collapse: collapse;

		th, td {
			padding: .5em;
		}

		thead {
			th {
				color: #fff;
				background-color: red;
			}
		}

		tbody {
			td {
				border-bottom: 1px solid grey;
			}
		}

		th:first-child {
			background-color: darkred;
		}

		td:first-child {
			background-color: lightgrey;
		}
	}

	a {
		display: none;
	}	
}

footer {
	padding: 2em 10em;
	background-color: #000;
	@include clearfix;

	div.logo {
		border-bottom: 1px solid red;
		margin-bottom: .5em;
		color: grey;
		padding-bottom: .3em;

		span {
			color: red;
		}
	} 

	address {
		float: left;
		width: 50%;
		padding-left: 1em;
		color: #fff;
	}

	div.map {
		float: right;
		width: 50%;
		padding-right: 1em;
		text-align: right;
	}
}

@include tablet {
	header {
		padding: 2em 1em;
	}

	h1 {
		border-bottom: 1px solid red;
		width: 70%;
		margin: 0 auto;
	}

	section.one {
		padding: 2em;

		figure {
			width: 50%;
			margin-bottom: 2em;
		}
	}

	section.two {
		padding: 2em;	
	}

	footer {
		div.logo {
			text-align: center;
		}

		address {
			width: 100%;
			margin-bottom: 1em;
		}

		div.map {
			width: 100%;
			text-align: center;
		}
	}
}

@include mobile {
	header {
		background: #000;
		padding: 0;
		height: auto;

		nav {

			div, ul {
				float: none;
			}

			ul {
				margin: 0 auto;

				li {
					display: block;
					text-align: center;
					padding: 1em;
					margin: 0;
				}
			}
		}

		h1 {
			margin-top: 1.5em;
		}	

		h2 {
			padding-bottom: 1.5em;
		}
	}

	section.one {
		figure {
			width: 100%;
		}
	}

	section.two {
		table {
			display: none;
		}

		a {
			color: #fff;
			padding: .5em 2em;
			text-decoration: none;
			background-color: orange;
			margin-top: 1em;
			display: inline-block;
		}
	}

	footer {
		padding: 1.5em 2.5em;
		text-align: center;

		address, div.map {
			padding: 0;
		}

		div.map {
			iframe {
				width: 100%;
			}
		}
	}
}