@import "vars";
@import "mixins";

@include main;

header {
	padding: .5em 10em;
	width: 100%;
	@include clearfix;

	img {
		float: left;
		height: 2em;
		border-radius: 50%;
	}

	nav	{
		float: right;

		ul {
			list-style: none;
			margin-top: .5em;

			li {
				display: inline-block;

				a {
					text-decoration: none;
					color: #000;
					margin-right: 1em;
				}
			}
		}
	}
}

section.one {
	background-color: $main_red;
	padding: 5em 10em 14em;

	h1 {
		margin: 0 auto;
		text-align: center;
		color: grey;
	}
}

section.two {
	background-color: $main_purple;
	padding: 3em 15em;
	@include clearfix;

	figure {
		float: left;
		width: 45%;
		margin-right: 2.5%;
		margin-bottom: 3em;

		div {
			float: left;
			border-radius: 50%;
			background-color: $purple_dark;
			width: 120px;
			height: 120px;
			padding-top: 28px;

			img {
				width: 60%;
				display: block;
				margin: 0 auto;
			}
		}

		figcaption {
			float: right;
			width: 60%;
			margin-top: 3em;
			color: #fff;
			margin-right: 2em;
		}
	}
}